@import './fonts.css';
@import './colors.css';

.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    height: 91px;
}

.banner a{
    text-decoration: none;
}

.banner_logo{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 28px;
}

.banner_logo_pic{
    width: 57px;
    height: 57px;
}

.banner_logo h1{
    font-size: 1.5rem;
    font-weight: var(--regular);
    color: var(--quarternary-color);
}

.banner_nav{
    width: 80%;
}

.banner_nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.banner_nav_links li a, .banner_nav_links li a:hover, .banner_nav_links li a:active, .banner_nav_links li a:visited{
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: var(--medium);
    text-decoration: none;
}