.error{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #000;
    color: #FFF;
}

.error h1{
    font-size: 200px;
}

.error p {
    font-size: 35px;
}

.error a, .error a:active{
    color: #FFF;
    text-decoration: none;
}

.error a:hover {
    color: var(--tertiary-color);
}